In [29]:
import pandas as pd
from pptx import Presentation
import re

In [40]:
df_text = pd.read_excel('data/output/candidate_cv_one_pager.xlsx')

#### Test logic updating only funct_exp box (below FUNCTIONAL EXPERIENCE title)

Tasks performed:
- Modification in Template file: Drawing > Arrange > Named rectangle under FUNCTIONAL EXPERIENCE as funct_exp
- Test update one shape funct_exp
- Bullet were manually set. This is an automation to use as [reference](https://gist.github.com/documentprocessing/d103ec68dc7c3ca93a65de438d3562e1) I wasn't able to recreate it.

In [78]:
from pptx import Presentation
from pptx.util import Pt
from pptx.dml.color import RGBColor

prs = Presentation('SC&O OP VACIO - TEMPLATE 3 - New.pptx')

# Extract string from DataFrame
func_exp_str = df_text.loc[df_text['section_name'] == 'FUNCTIONAL EXPERIENCE', 'output'].iloc[0]
func_exp_str = str(func_exp_str)

slide = prs.slides[0]
for shape in slide.shapes:
    if shape.has_text_frame and shape.name.strip().lower() == 'funct_exp':
        print(shape.name)
        tf = shape.text_frame
        tf.clear()

        # Build a single string with bullet characters
        bullet_lines = "\n".join([f"• {line}" for line in func_exp_str.splitlines()])
        tf.text = bullet_lines

        # Apply font and size to all runs
        for paragraph in tf.paragraphs:
            for run in paragraph.runs:
                run.font.name = "Graphik"
                run.font.size = Pt(9)
                run.font.color.rgb = RGBColor(0, 0, 0)  # black

prs.save("updated_presentation_test.pptx")

funct_exp

#### Ever/Mari testing

Discarded due to it leads to the same table that is in one_pager_summary.xlsx

In [ ]:
prs = Presentation('SC&O OP VACIO - TEMPLATE 3 - New.pptx')
slide = prs.slides[0]
dic = {}
section_name = []
section_text = []
for shape in slide.shapes:
    section_name.append(shape.name)
    dic[shape.name] = None
    if shape.has_text_frame:
        section_text.append(shape.text)
        dic[shape.name] = shape.text

In [27]:
dic

{'Rectangle 4': '',
 'Picture 40': None,
 'Nombre': 'Valentín Enzo Bertolini',
 'TextBox 80': 'CERTIFICATIONS/TRAINING',
 'Functional Experience': 'Functional Experience',
 'Rectangle 82': '\n',
 'TextBox 83': 'INDUSTRY EXPERIENCE',
 'TextBox 85': 'Consulting analyst  ',
 'Rectangle 86': '.com',
 'TextBox 87': 'PROFILE OVERVIEW',
 'Rectangle 3': '',
 'TextBox 88': 'RELEVANT EXPERIENCE',
 'TextBox 89': 'Accenture\nBuenos Aires, Argentina\nID@accenture.com',
 'Professional Experience': 'Valentín has over 3 years of experience as a software developer, specializing in **fullstack development** and **generative AI solutions**. He has demonstrated expertise in **Python**, **SQL**, and **C#**, with a strong focus on **automation** and **data-driven tasks**. His entrepreneurial attitude drives him to develop creative solutions and enhance operational efficiency through innovative technologies.',
 'Functional Experience Text': 'Software Development\nGenerative AI Development\nClient Interaction\nData Processing Automation',
 'Rectangle 8': '',
 'Rectangle 9': '',
 'Industry Experience': 'Healthcare\nE-Commerce\nConsulting\nSupply Chain',
 'Role #3': 'Generative AI Developer - OCR Solutions\nDeveloped **OCR-based generative AI solutions** leveraging fine-tuned **GPT models** to automate document processing, significantly reducing manual data entry for retentions and invoices.\nLed the end-to-end model fine-tuning process, from **data labeling** to deployment, which improved accuracy and operational efficiency, while managing client interactions to iteratively enhance AI model performance.',
 'Role #2': 'Generative AI Developer - Agentic Warehouse Throughput Orchestrator\nEngineered an internal asset for Accenture, utilizing **Python** and **SimPy** to create an **Agentic AI** that suggests rebalancing plans for lagging queues in a simulated warehouse environment.\nDesigned and implemented a **frontend UI** using **React** and **Chakra**, enhancing user interaction and experience while integrating complex backend algorithms for real-time data processing.',
 'Role #1': 'Fullstack Developer\nDeveloped and maintained a **third-party healthcare application** using the **.NET Framework**, ensuring high-quality code and adherence to best practices in software development.\nConducted **cost and duration analysis** of assignments, optimizing project timelines and resource allocation, while managing client feedback to enhance service delivery and satisfaction.',
 'Certs': 'UBA: LLMs From Zero to Hero',
 'Professional Education': 'Computer Science',
 'TextBox 12': 'Professional Experience:',
 'TextBox 13': 'Professional Education',
 'TextBox 14': 'Languages',
 'Languages': 'Spanish Native\nEnglish C1',
 'Digi': '\x0bSupply chain digital strategy ',
 'Tower': 'CONTROL TOWER',
 'Role #4': 'Generative AI Developer - Disney Parks Recipe Sandbox\nCreated a **Generative AI Agent** for Disney Parks within the **Recipe Sandbox system**, integrating a conversational agent with over 230,000 ingredients.\nImplemented an **embeddings and RAG system** to efficiently retrieve useful information, utilizing **OpenAI LLMs** and **Milvus** as a vectorial database, enhancing the overall functionality and user engagement of the system.'}

In [50]:
# def find_shape_by_text(slide, text):
#     """Return the shape that contains the given text."""
#     for shape in slide.shapes:
#         if hasattr(shape, "text") and text in shape.text:
#             return shape
#     return None

def set_text_with_formatting(shape, text):
    """Replace shape text and apply bold where **word** markers appear."""
    text_frame = shape.text_frame
    text_frame.clear()
    
    parts = re.split(r"(\*\*.*?\*\*)", text)
    p = text_frame.add_paragraph()
    
    for part in parts:
        if not part:
            continue
        run = p.add_run()
        if part.startswith("**") and part.endswith("**"):
            run.text = part[2:-2]
            run.font.bold = True
        else:
            run.text = part

In [31]:
df_text.head()

              section_name                                             output
0         PROFILE OVERVIEW  Functional analyst with over 5 years of experi...
1   PROFESSIONAL EDUCATION     Industrial Engineering\nIndustrial Engineering
2      INDUSTRY EXPERIENCE  Communications, Media & Technology\nFinancial ...
3    FUNCTIONAL EXPERIENCE  SAP FI\nSAP MM\nSAP PM\nProcess Automation\nIn...
4  CERTIFICATIONS/TRAINING  First Certificate in English – FCE\nCaptton co...

In [35]:
df_ppt = pd.DataFrame(list(dic.items()), columns=['section_name', 'output'])
df_ppt['section_name'] = df_ppt['section_name'].str.upper()

In [36]:
df_ppt.head()

            section_name                   output
0            RECTANGLE 4
1             PICTURE 40                     None
2                 NOMBRE  Valentín Enzo Bertolini
3             TEXTBOX 80  CERTIFICATIONS/TRAINING
4  FUNCTIONAL EXPERIENCE    Functional Experience

In [39]:
# replace values in ppt template with df_textthat contains the GPT output
df_ppt_upd = pd.merge(df_ppt[['section_name']], df_text, how = 'inner', on='section_name')

In [41]:
df_ppt_upd.head()

             section_name                                             output
0   FUNCTIONAL EXPERIENCE  SAP FI\nSAP MM\nSAP PM\nProcess Automation\nIn...
1     INDUSTRY EXPERIENCE  Communications, Media & Technology\nFinancial ...
2  PROFESSIONAL EDUCATION     Industrial Engineering\nIndustrial Engineering
3               LANGUAGES                                   English Advanced

In [ ]:
"functional experience text box"